@font-face {
  font-family: MonumentExt;
  src: url("assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
  --green: #aed795;
  --pdf: #f6b26b;
  --video: #88c070;
  --audio: #7c9bc5;
  --img: #a894f2;
  --gif: #ff9494;
  --txt: #6bb27d;
  --dir: #ffa500;
  --installation: #ffcc5c;
  --performance: #e56db1;
}

* {
  font-family: MonumentExt;
  margin: 0;
  padding: 0;
  color: white;
}

p {
  letter-spacing: 3px;
}
