@font-face {
  font-family: Azeret;
  src: url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
} 

@font-face {
  font-family: MonumentExt;
  src: url("assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
  --green: #aed795;
  --pdf: #f6b26b;
  --video: #88c070;
  --audio: #7c9bc5;
  --img: #a894f2;
  --gif: #ff9494;
  --txt: #6bb27d;
  --dir: #ffa500;
  --installation: #ffcc5c;
  --performance: #e56db1;
}

* {
  font-family: MonumentExt;
  /* font-family: Azeret; */
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: white;
}

/* #TODO: change font to Azeret */

/* p {
  letter-spacing: 0.02em;
}

h1, h2, h3, #header, #left-logo > a, #choices > a, #right-logo {
  font-family: MonumentExt;
  letter-spacing: unset;
} */