@font-face {
    font-family: MonumentExt;
    src: url("./assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
    --green: #aed795;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExt;
}

body {
    background: blue;
}

#container {
    width: 100%;
    height: 100%;
    diplay: flex;
    align-items: center;
    justify-content: center;
}

#loading-bar {
    width: 300px;
    height: 100px;
    margin: auto;
    border-style: solid;
    border-width: 10px;
}

#loaded {
    width: 200px;
    height: 100px;
    background: var(--green);
}
