@import "defaults.css";

a {
  text-decoration: none;
  background: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  height: 100%;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

a {
  background: none;
}

#home-button {
  height: 495px;
  width: 840px;
  background-image: url("./assets/access.gif");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 840px) {
  #home-button {
    width: 330px;
    height: 300px;
    background-image: url("./assets/access.gif");
  }
}
