@import "./header.css";
@import "./defaults.css";

* {
  background: black;
}

#header > #choices {
  background: none;
}

#header {
  background: none;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  background: none;
}

video {
  display: block;
  margin: auto;
  margin-top: 70px;
  height: 100%;
  width: 100%;
}

.contact-us {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

#contacts > p > a,
#contacts > p {
  color: #787878;
}

.contact-us h1 {
  color: var(--green);
}

#footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  text-align: end;
  color: #787878;
}

#footer > p {
  color: #787878;
}

#footer > p > a {
  color: var(--green);
}

@media (max-width: 1200px) {
  video {
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 100%;
    width: 100%;
  }

  .contact-us {
    position: fixed;
    padding: 10px;
    bottom: 30px;
    left: 0;
    font-size: 12px;
    background: none;
  }

  .contact-us h1 {
    font-size: 16px;
  }

  #footer {
    font-size: 12px;
    text-align: left;
    right: unset;
    left: 10px;
    bottom: 0px;
  }
}
