@import "../header.css";

@font-face {
    font-family: MonumentExt;
    src: url("../assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
    --green: #aed795;
}

* {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: MonumentExt;
}

#header > #choices {
    background: none;
}

#header {
    background: none;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    background: none;
}

video {
    display: block;
    margin: auto;
    margin-top: 70px;
    height: 100%;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

#footer > a {
    /* color: var(--green); */
    color: rgba(174, 215, 149, 0.3);
}

@media (max-width: 1100px) {
    video {
        display: block;
        margin: auto;
        margin-top: 40px;
        height: 100%;
        width: 100%;
    }
}
