@import "../../header.css";
@import "../../defaults.css";

.pdf {
  background-color: var(--pdf);
  padding: 0 3px 0 3px;
  color: black;
}

.video {
  background-color: var(--video);
  padding: 0 3px 0 3px;
  color: black;
}

.audio {
  background-color: var(--audio);
  padding: 0 3px 0 3px;
  color: black;
}

.img {
  background-color: var(--img);
  padding: 0 3px 0 3px;
  color: black;
}

.gif {
  background-color: var(--gif);
  padding: 0 3px 0 3px;
  color: black;
}

.dir {
  background-color: var(--dir);
  padding: 0 3px 0 3px;
  color: black;
}

.txt {
  background-color: var(--txt);
  padding: 0 3px 0 3px;
  color: black;
}

.installation {
  background-color: var(--installation);
  padding: 0 3px 0 3px;
  color: black;
}

.performance {
  background-color: var(--performance);
  padding: 0 3px 0 3px;
  color: black;
}

#header-container {
  background: black;
}

* {
  background: black;
}

a {
  text-decoration: none;
}

h2, h3, h4 {
  color: var(--green);
}

.content {
  background: black;
  width: 100%;
  min-width: 1100px;
  font-size: 20px;
  margin-top: 20px;
  display: none;
  flex-direction: column;
  padding-bottom: 70px;
}

#pt:checked ~ .content[data-lang=pt] {
  display: flex;
}

#en:checked ~ .content[data-lang=en] {
  display: flex;
}

.lang-button {
  visibility: hidden;
  width: 0px;
  margin-top: 180px;
}

#pt-label, #en-label {
  padding: 0 6px 0 6px;
  color: var(--green);
}

#en-label {
  margin-left: -17px;
}

#pt:checked ~ #pt-label {
  color: black;
  background: var(--green);
}

#en:checked ~ #en-label {
  color: black;
  background: var(--green);
}

.description {
  width: 70%;
  margin: auto;
}

.description h1 {
  color: var(--green);
}

.description p, .room p {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  color: var(--green) !important;
}

li a {
  color: var(--green) !important;
  text-decoration: underline;
}

li a::before {
  content: '_';
  padding-right: 5px;
}

.bold {
  font-weight: 800;
  color: var(--green);
}

.room {
  margin: auto;
  /* margin-top: 20px; */
  width: 90%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.room > img {
  margin: auto;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

figure {
  padding-top: 70px;
  padding-bottom: 0px;
  text-align: center; /* Center the image and caption */
  margin: 0 auto; /* Center the container */
}

figure img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  color: #666;
  font-size: 14px;
  margin-top: 15px;
}

.pieces {
  margin-top: 70px;
  max-width: 100%;
}

.artist-name {
  font-weight: bold;
  max-width: 100%;
}

.piece {
  margin-left: 50px;
  max-width: 100%;
}

.piece a {
  font-style: italic;
  color: blue;
  text-decoration: underline;
}

#login-block {
  margin: 50px 0 50px 0;
  padding: 30px;
  border: 5px solid var(--green);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#login-block div {
  color: var(--green);
}

#login-block .prompt {
  margin-bottom: 10px;
}

#login-block .field {
  margin-left: 25px;
}

#hivemind {
  margin-top: 70px;
}

.credits {
  padding-left: 30px;
  border-left: solid var(--green);
}

.credits > p {
  font-style: italic;
}

.gallery-link {
  font-size: 16px;
  margin-left: 17px;
  margin-bottom: 30px;
  text-decoration: underline;
  color: var(--green)
}

.gallery-link::before {
  content: '> ';
}

.gallery {
  width: 1250px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.gallery-title {
  width: 1250px;
  margin: auto;
  margin-top: 220px;
  color: var(--green);
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid var(--green);
}

.picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .content {
    min-width: unset;
    width: unset;
  }

  .description {
    margin-top: unset;
    width: 95%;
  }

  .description h1 {
    font-size: medium;
  }

  .description p {
    font-size: small;
  }

  .room {
    font-size: small
  }

  .room > img {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  figure {
    padding: 30px 0 30px 0;
  }

  #login-block {
    margin: 30px 0 10px 10px;
  }

  .lang-button {
    margin-top: 120px;
  }

  .gallery {
    display: grid;
    margin-top: unset;
    width: 95%;
    grid-template-columns: 1fr;
  }

  .gallery-title {
    width: 95%;
    max-width: 400px;
    margin-top: 125px;
    margin-bottom: 15px;
    font-size: medium;
  }

  .picture {
    border: none;
  }
}