@import "../../header.css";
@import "../../defaults.css";

:root {
  --pdf: #f6b26b;
  --video: #88c070;
  --audio: #7c9bc5;
  --img: #a894f2;
  --gif: #ff9494;
  --txt: #6bb27d;
  --dir: #ffa500;
  --installation: #ffcc5c;
  --performance: #e56db1;
}

.pdf {
  background-color: var(--pdf);
  padding: 0 3px 0 3px;
  color: black;
}

.video {
  background-color: var(--video);
  padding: 0 3px 0 3px;
  color: black;
}

.audio {
  background-color: var(--audio);
  padding: 0 3px 0 3px;
  color: black;
}

.img {
  background-color: var(--img);
  padding: 0 3px 0 3px;
  color: black;
}

.gif {
  background-color: var(--gif);
  padding: 0 3px 0 3px;
  color: black;
}

.dir {
  background-color: var(--dir);
  padding: 0 3px 0 3px;
  color: black;
}

.txt {
  background-color: var(--txt);
  padding: 0 3px 0 3px;
  color: black;
}

.installation {
  background-color: var(--installation);
  padding: 0 3px 0 3px;
  color: black;
}

.performance {
  background-color: var(--performance);
  padding: 0 3px 0 3px;
  color: black;
}

#header-container {
  background: black;
}

* {
  background: black;
}

h2, h3, h4 {
  color: var(--green);
}

.content {
  background: black;
  width: 100%;
  min-width: 1100px;
  font-size: 20px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

#pt:checked ~ .content[data-lang=pt] {
  display: flex;
}

#en:checked ~ .content[data-lang=en] {
  display: flex;
}

.lang-button {
  position: absolute;
  display: none;
  top: 160px;
}

#pt-label {
  position: absolute;
  top: 200px;
}

#en-label {
  position: absolute;
  top: 200px;
}

#pt:checked ~ #pt-label {
  display: none;
}

#en:checked ~ #en-label {
  display: none;
}

.description {
  width: 70%;
  margin: auto;
  margin-top: 80px;
}

.description h1 {
  color: var(--green);
}

.description p, .room p {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  color: var(--green) !important;
}

li a {
  color: var(--green) !important;
}

li::before {
  content: '_';
  padding-right: 5px;
}

.bold {
  font-weight: 800;
  color: var(--green);
}

.room {
  margin-top: 20px;
  margin: auto;
  width: 90%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.room > img {
  margin: auto;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

figure {
  padding-top: 70px;
  padding-bottom: 0px;
  text-align: center; /* Center the image and caption */
  margin: 0 auto; /* Center the container */
}

figure img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  color: #666;
  font-size: 14px;
  margin-top: 15px;
}

.pieces {
  margin-top: 70px;
  max-width: 100%;
}

.artist-name {
  font-weight: bold;
  max-width: 100%;
}

.piece {
  margin-left: 50px;
  max-width: 100%;
}

.piece a {
  font-style: italic;
  color: blue;
  text-decoration: underline;
}

#login-block {
  margin: 50px 0 50px 0;
  padding: 30px;
  border: 5px solid var(--green);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#login-block div {
  color: var(--green);
}

#login-block .prompt {
  margin-bottom: 10px;
}

#login-block .field {
  margin-left: 25px;
}

#hivemind {
  margin-top: 70px;
}

.credits {
  padding-left: 30px;
  border-left: solid var(--green);
}

.credits > p {
  font-style: italic;
}

@media (max-width: 1200px) {
  .content {
    margin-top: 120px;
    min-width: unset;
    width: unset;
  }

  .description {
    margin-top: unset;
    width: 95%;
  }

  .description h1 {
    font-size: medium;
  }

  .description p {
    font-size: small;
  }

  .room {
    font-size: small
  }

  .room > img {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  figure {
    padding: 30px 0 30px 0;
  }

  #login-block {
    margin: 30px 0 10px 10px;
  }
}