@import "../header.css";

@font-face {
    font-family: MonumentExt;
    src: url("../assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
    --green: #aed795;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExt;
    background: black;
}

a {
    text-decoration: none;
}

#header-container {
    border-bottom: solid 2px;
    border-color: var(--green);
}

#content {
    background: black;
    width: 100%;
    min-width: 1100px;
    font-size: 20px;
    margin-top: 160px;
}

#content-choices {
    font-size: 60px;
    width: 70%;
    margin: auto;
}

ul {
    padding-top: 10%;
    list-style: none;
}

ul > li::before {
    content: "_";
    color: var(--green);
}

ul > li {
    margin-top: 30px;
}

#content-choices a {
    color: var(--green);
}


@media (max-width: 1100px) {
    #header-container {
        border-bottom: solid 2px;
        border-color: var(--green);
    }

    #content {
        min-width: unset;
    }

    #content-choices {
        font-size: 40px;
        width: 420px;
        width: 95%;
        margin: auto;
        background: black;
    }
}
