@import "../header.css";

@font-face {
    font-family: MonumentExt;
    src: url("../assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
    --green: #aed795;
}

#header-container {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExt;
}

a {
    text-decoration: none;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

#content {
    margin-top: 160px;
    width: 100%;
    min-width: 900px;
    font-size: 20px;
}

#panels-wrapper {
    display: flex;
    background: none;
    padding: 100px 8% 0 8%;
    min-width: inherit;
}

#left-panel {
    width: 50%;
    /* min-width: 400px; */
    margin-right: 20%;
}

#left-panel > p, #right-panel > p {
    background: black;
    margin-top: 10px;
}

#left-panel h1, #right-panel > h1 {
    display: inline-block;
    padding: 0 5px 0 5px;
    background: black;
    color: #aed795;
}

#right-panel {
    width: 50%;
    /* min-width: 400px; */
}

@media (max-width: 1100px) {
    #content {
        background-size: cover;
        margin-top: 130px;
        width: 100%;
        min-width: unset;
        font-size: 20px;
        width: 100%;
    }

    #panels-wrapper {
        display: block;
        width: 90%;
        margin: auto;
        background: none;
        padding: unset;
        min-width: inherit;
    }

    #left-panel {
        width: unset;
        min-width: unset;
        margin-right: unset;
        margin-bottom: 50px;
    }

    #right-panel {
        width: unset;
        min-width: unset;
    }

    #left-panel > p, #right-panel > p {
        background: black;
        margin-top: 10px;
    }

    #left-panel > h1, #right-panel > h1 {
        display: inline-block;
        padding: 0 5px 0 5px;
        background: black;
        color: #aed795;
    }
}
