@font-face {
    font-family: MonumentExt;
    src: url("../assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExt;
}

a {
    text-decoration: none;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

#header {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    background: black;
    width: 100%;
    height: 160px;
    margin: 0px;
    min-width: 1100px;
}


#header > #left-logo {
    display: flex;
    height: 90%;
    width: 20%;
    min-width: 300px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 55px;
}

#header > #choices {
    justify-content: center;
    text-align: center;
    width: 60%;
    min-width: 600px;
    margin-top: 92px;
    font-size: 30px;
}

#header > #right-logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    width: 20%;
    min-width: 250px;
}

#header > #right-logo > img {
    width: 180px;
}


@media (max-width: 1100px) {
    #header {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        background: black;
        width: 100%;
        height: 130px;
        margin: 0px;
        min-width: unset;
    }

    #header > #left-logo {
        display: block;
        height: unset;
        /* width: auto; */
        background: none;
        min-width: unset;
        margin: 30px 0px 0 0;
        width: 50%;
        text-align: end;
        font-size: 40px;
    }

    #header > #left-logo > a {
        margin-right: 33px;
    }

    #header > #choices {
        justify-content: center;
        text-align: center;
        width: 100%;
        min-width: unset;
        margin-top: unset;
        font-size: 23px;
        margin: 5px 0 10px 0;
    }

    #header > #right-logo {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 13px 0 0 0;
        display: unset;
        align-items: unset;
        background: none;
        padding-bottom: unset;
        width: 50%;
        min-width: unset;
    }

    #header > #right-logo > img {
        margin-left: 83px;
        width: 130px;
        background: none;
    }
}

#content {
    background-size: cover;
    margin-top: 160px;
    width: 100%;
    min-width: 900px;
    font-size: 20px;
}

#panels-wrapper {
    display: flex;
    background: none;
    padding: 100px 100px 0 100px;
    min-width: inherit;
}

#left-panel {
    width: 50%;
    /* min-width: 400px; */
    margin-right: 20%;
}

#left-panel > p, #right-panel > p {
    background: black;
    margin-top: 10px;
}

#left-panel > h1, #right-panel > h1 {
    display: inline-block;
    padding: 0 5px 0 5px;
    background: black;
    color: #aed795;
}

#right-panel {
    width: 50%;
    /* min-width: 400px; */
}

@media (max-width: 1100px) {
    #content {
        background-size: cover;
        margin-top: 160px;
        width: 100%;
        min-width: unset;
        font-size: 20px;
        width: 100%;
    }

    #panels-wrapper {
        display: block;
        width: 90%;
        margin: auto;
        background: none;
        padding: unset;
        min-width: inherit;
    }

    #left-panel {
        width: unset;
        min-width: unset;
        margin-right: unset;
        margin-bottom: 50px;
    }

    #right-panel {
        width: unset;
        min-width: unset;
    }

    #left-panel > p, #right-panel > p {
        background: black;
        margin-top: 10px;
    }

    #left-panel > h1, #right-panel > h1 {
        display: inline-block;
        padding: 0 5px 0 5px;
        background: black;
        color: #aed795;
    }
}
