@import "../../header.css";
@import "../../defaults.css";

#header-container {
  background: black;
}

* {
  background: black;
}

a {
  text-decoration: none;
}

p {
  font-family: "Azeret Mono";
}

#content {
  background: black;
  min-width: 1100px;
  font-size: 20px;
  margin: 160px 0 100px 0;
  padding: 5% 8% 0 8%;
}

#merch-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: black;
  min-width: 1100px;
  font-size: 20px;
  margin: 100px 0 100px 0;
  padding: 5% 8% 0 8%;
}

#merch-content h1 {
  color: var(--accent);
}

#merch-content a {
  background: var(--accent);
  color: black;
}

#merch-video {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

#merch-video iframe {
  width: 600px;
  height: 340px;
}

#merch-shirts {
  width: 40%;
  margin: auto;
}

#merch-visualid {
  display: flex;
  width: 100%;
  justify-content: center;
}

#merch-visualid img {
  width: 500px;
}

#top-row {
  display: flex;
}

#content h1 {
  color: var(--accent);
}

#description {
  width: 40%;
}

#picture {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#picture-frame {
  display: flex;
  background: var(--accent);
  padding: 3px;
  height: 450px;
}

#picture-frame > a > img {
  height: 450px;
}

#picture-button {
  display: flex;
  background: var(--accent);
  color: black;
  width: 50%;
  padding: 250px 10px 0 10px;
  justify-content: center;
}

#cyb-list {
  margin: auto;
  margin-top: 50px;
}

#cyb-list a {
  color: var(--accent);
}

@media (max-width: 1500px) {
  #content {
    display: block;
    background: black;
    width: 100%;
    min-width: unset;
    font-size: 18px;
    margin: unset;
    padding: unset;
    margin-top: 120px;
  }

  #merch-content {
    gap: 20px;
    min-width: unset;
    width: 100%;
    font-size: 18px;
    margin: 120px 0px 100px 0px;
    padding: unset;
  }

  #merch-content h1 {
    font-size: 26px;
    padding: 0 23px 0 23px;
  }

  #merch-video {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  #merch-video iframe {
    width: 100%;
    height: 340px;
  }

  #merch-shirts {
    width: 100%;
  }

  #merch-visualid {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  #merch-visualid img {
    width: 100%;
  }

  #top-row {
    display: block;
  }

  #description {
    padding: 0 0 0 5%;
    width: 90%;
  }

  #picture {
    display: block;
    justify-content: unset;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: unset;
    width: 90%;
  }

  #picture-frame {
    display: flex;
    background: var(--accent);
    height: unset;
    /* width: 100%; */
    width: 500px;
  }

  #picture-frame > a > img {
    height: unset;
    /* width: 100%; */
    width: 500px;
  }

  #picture-frame > a {
    background: var(--accent);
  }

  #picture-button {
    display: flex;
    background: var(--accent);
    color: black;
    /* height: 100%; */
    padding: 0 10px 0 10px;
    justify-content: center;
  }

  #cyb-list {
    margin: 0 0 10% 5%;
  }
}
