@import "../../header.css";
@import "../../defaults.css";

#header-container {
  background: black;
}

* {
  background: black;
}

a {
  text-decoration: none;
}

#content {
  background: black;
  min-width: 1100px;
  font-size: 20px;
  margin: 160px 0 60px 0;
  padding: 5% 8% 0 8%;
}

#top-row {
  display: flex;
  margin-bottom: 100px;
}

#content h1 {
  color: var(--green);
}

#description {
  width: 40%;
}

#picture {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#picture-frame {
  display: flex;
  background: var(--green);
  padding: 3px;
  height: 550px;
  /* height: 100%; */
  /* width: 50%; */
}

#picture-frame > a > img {
  height: 550px;
}

#picture-button {
  display: flex;
  background: var(--green);
  color: black;
  width: 50%;
  padding: 250px 10px 0 10px;
  justify-content: center;
}

@media (max-width: 1200px) {
  #content {
    display: block;
    background: black;
    width: 100%;
    min-width: unset;
    font-size: 18px;
    margin-top: 120px;
  }

  #description {
    padding: 0 0 0 5%;
    width: 90%;
  }

  #picture {
    display: block;
    justify-content: unset;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: unset;
    width: 90%;
  }

  #picture-frame {
    display: flex;
    background: var(--green);
    height: unset;
    width: 100%;
  }

  #picture-frame > a > img {
    height: unset;
    width: 100%;
  }

  #picture-frame > a {
    background: var(--green);
  }

  #picture-button {
    display: flex;
    background: var(--green);
    color: black;
    /* height: 100%; */
    padding: 0 10px 0 10px;
    justify-content: center;
  }
}
