@import "../../header.css";

@font-face {
    font-family: MonumentExt;
    src: url("../../assets/monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
}

:root {
    --green: #aed795;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExt;
    background: black;
}

a {
    text-decoration: none;
}

#header {
    border-bottom: solid 2px;
    border-color: var(--green);
}


#content {
    display: flex;
    background: black;
    width: 100%;
    min-width: 1100px;
    font-size: 20px;
    margin: 160px 0 60px 0;
}


#description {
    padding: 5% 0 0 5%;
    width: 40%;
}

#picture {
    display: flex;
    justify-content: flex-end;
    padding: 5% 5% 0 0;
    width: 60%;
}

#picture-frame {
    display: flex;
    background: var(--green);
    padding: 10px 0 10px 10px;
    height: 500px;
}

#picture-frame > img {
    height: 500px;
}

#picture-frame > a {
    background: var(--green);
}

#picture-button {
    display: flex;
    background: var(--green);
    color: black;
    /* height: 100%; */
    padding: 250px 10px 0 10px;
    justify-content: center;
}

@media (max-width: 1400px) {
    #content {
        display: block;
        background: black;
        width: 100%;
        min-width: unset;
        font-size: 18px;
        margin-top: 130px;
    }


    #description {
        padding: 5% 0 0 5%;
        width: 90%;
    }

    #picture {
        display: block;
        justify-content: unset;
        padding: 5% 5% 0 0;
        margin: auto;
        margin-bottom: 10px;
        width: 87%;
    }

    #picture-frame {
        display: flex;
        background: var(--green);
        padding: 10px 0 10px 10px;
        height: unset;
        width: 100%;
    }

    #picture-frame > img {
        height: unset;
        width: 100%
    }

    #picture-frame > a {
        background: var(--green);
    }

    #picture-button {
        display: flex;
        background: var(--green);
        color: black;
        /* height: 100%; */
        padding: 0 10px 0 10px;
        justify-content: center;
    }
}


#grid-container {
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.grid-item > img {
    height: 200px;
}

@media (max-width: 1400px) {
    #grid-container {
        display: grid;
        margin-top: unset;
        grid-template-columns: 1fr;
    }

    .grid-item {
        width: 100%;
        margin: auto;
    }

    .grid-item > img {
        height: unset;
        width: 100%;
    }
}
